.thumbnail {
	background: none;
	border: none;
	padding-bottom: 40px;
}
.owl-controls {
	.owl-pagination {
		position: absolute;
		bottom: 5px;
		right: 10px;
		.owl-page {
			display: inline-block;
			width: 15px;
			height: 15px;
			border: 3px solid fade(@black, 50%);
			background: fade(#122430, 50%);
			margin-left: 10px;
			&.active {
				background: fade(@white, 50%)
			}
		}
	}
}
body {
	background-image: url("../images/bg.png");
	background-color: #f0e0a6 !important;
	position: relative;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	color: @text;
	line-height: 20px;
	.banner {
		margin-top: -135px;
		position: relative;
		.box-meta {
			position: absolute;
			padding: 25px;
			top: 85px;
			left: 50px;
			width: 300px;
			min-height: 312px;
			background: @white;
			.item-head {
				h1 {
					font-size: 24px;
					font-family: 'Roboto', sans-serif;
					color: @primary;
					margin-top: 0;
					font-weight: 400;
				}
			}
			.item-desc {
				p {
					color: #414042;
				}
			}
			.bton {
				margin-top: 20px;
				a {
					background: #9a0000;
					color: @white;
					text-transform: uppercase;
				}
			}
			&:before {
				content: '';
				position: absolute;
			    top: 38%;
			    right: -30px;
			    width: 0;
			    height: 0;
			    border-top: 30px solid transparent;
			    border-left: 30px solid white;
			    border-bottom: 45px solid transparent;
			}
		}
	}
	.desc {
		min-height: 150px;
		background: url("../images/ren_bg.png");
		p {
			max-width: 655px;
			margin-top: 45px;
			padding-left: 35px;
			float: right;
			font-size: 18px;
			line-height: 25px;
			color: @white;
			border-left: 2px solid @white;
		}
	}
	.content-area {
		.wrapper {
			padding: 40px 60px;
			background: @white;
			p {
				line-height: 18px;
			}
			p.square {
				max-width: 710px;
				margin: 20px auto;
				border: 1px solid #b7b7b7;
				padding: 20px;
				font-style: italic;
			}
			.thumbnail-slider {
				.thumbnail-nav {
					width: 320px;
					float: left;
					.item-img {
						position: relative;
						margin-bottom: 22px;
						&:hover {
							cursor: pointer;
						}
						&.t-active:before {
							content: '';
						    position: absolute;
						    top: 38%;
						    right: 25px;
						    width: 0;
						    height: 0;
						    border-top: 20px solid transparent;
						    border-left: 20px solid #9a0000;
						    border-bottom: 20px solid transparent;
						}
					}
				}
				.thumbnail-main {
					width: calc(~"100% - 320px");
					float: right;
					position: relative;
				    margin-bottom: 25px;
					.item {
						img {
							width: 100%;
							height: auto;
						}
					}
				}
			}
			.wrap-content {
				display: block;
				width: 100%;
				clear: both;
				.content {
					margin-left: 320px;
				}
				h2 {
					font-size: 20px;
					font-family: 'Roboto', sans-serif;
					color: @text;
					margin-bottom: 30px;
				}
			}
		}
	}
}