@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_Avo.ttf);
}
@font-face {
    font-family: utmbold;
    src: url(../../fonts/UTM_AvoBold.ttf);
}
@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_AvoBold_Italic.ttf);
}
@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_AvoItalic.ttf);
}