#header {
	background: url(../images/header_bg.png) no-repeat;
	background-size: cover;
	min-height: 255px;
	ul {
		li {
			list-style: none;
			display: inline-block;
			margin-right: 10px;
		}
	}
	.topbar {
		height: 40px;
		background: url("../images/ren_bg.png");
		.menu-meta {
			float: right;
			li {
				color: @white;
				padding-left: 12px;
				font-family: utm;
				font-size: 12px;
				a {
					line-height: 40px;
					color: @white;
				}
			}
		}
	}
	.navbar {
		min-height: 110px;
		.container {
			position: relative;
		}
		.nav {
			position: absolute;
			right: 65px;
			display: inline-block;
			top: 50px;
			li {
				a {
					font-size: 15px;
					color: @primary;
					text-transform: uppercase;
					font-family: 'Roboto', sans-serif;
					font-weight: 400;
					padding-top: 0;
					padding-bottom: 0;
					&:hover {
						background: none;
					}
				}
				position: relative;
				&:hover {
					&:after {
						position: absolute;
						bottom: -5px;
						left: 0;
						content: "";
						width: 100%;
						height: 5px;
						background: #9a0000;
					}
				}
				&.active:after {
					position: absolute;
					bottom: -5px;
					left: 0;
					content: "";
					width: 100%;
					height: 5px;
					background: #9a0000;
				}
			}
		}
		.lang {
			position: absolute;
			right: 0;
			top: 50px;
			li {
				padding: 0 5px;
				&:last-child {
					border-left: 1px solid @primary;
				}
				a {
					color: @primary;
					font-weight: bold;
				}
			}
		}
		
	}

	.banner-df {
		.container {
			position: relative;
		}
		.page-title {
			position: absolute;
			bottom: 0;
			left: 15px;
			height: 70px;
			width: 300px;
			background: fade(@white, 90%);
			h1 {
				padding-left: 25px;
				color: #1a1d1f;
				text-transform: uppercase;
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
			}
		}
	}
}