@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_Avo.ttf);
}

@font-face {
    font-family: utmbold;
    src: url(../../fonts/UTM_AvoBold.ttf);
}

@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_AvoBold_Italic.ttf);
}

@font-face {
    font-family: utm;
    src: url(../../fonts/UTM_AvoItalic.ttf);
}

#header {
    background-size: cover;
    min-height: 255px;
}

@media (max-width: 767px) {
    #header {
        min-height: 75px;
        background-position: center;
    }
}

#header .topbar {
    height: 40px;
    background: url("../images/ren_bg.png");
}

@media (max-width: 400px) {
    #header .topbar {
        height: auto;
    }
}

#header .topbar .menu-meta {
    float: right;
}

#header .topbar .menu-meta li {
    display: inline-block;
    color: #fff;
    padding-left: 12px;
    font-family: utm;
    font-size: 12px;
}

#header .topbar .menu-meta li a {
    line-height: 40px;
    color: #fff;
}

@media (max-width: 500px) {
    #header .topbar .menu-meta {
        padding: 0;
    }
}

@media (min-width: 768px) {
    #header .navbar {
        min-height: 110px;
    }

    #header .navbar .nav {
        position: absolute;
        right: 65px;
        display: inline-block;
        top: 50px;
    }

    #header .navbar .nav li {
        list-style: none;
        display: inline-block;
        position: relative;
    }

    #header .navbar .nav li a {
        padding-top: 0;
        padding-bottom: 0;
    }

    #header .navbar .nav li:hover:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 5px;
        background: #9a0000;
    }

    #header .navbar .nav li.active:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 5px;
        background: #9a0000;
    }

    #header .navbar .lang {
        position: absolute;
        right: 0;
        top: 50px;
    }
}

#header .navbar .container {
    position: relative;
}

#header .navbar .navbar-header {
    min-height: 50px;
}

#header .navbar .navbar-header .navbar-toggle {
    position: absolute;
    padding-right: 0;
    right: 15px;
    top: 0;
}

#header .navbar .navbar-header .navbar-toggle .icon-bar {
    background: #595959;
}

#header .navbar .nav li a {
    font-size: 18px;
    color: #2a0603;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /*padding-top: 0;*/
    /*padding-bottom: 0;*/
}

#header .navbar .nav li a:hover {
    background: none;
}

#header .navbar .nav li.active a,
#header .navbar .nav li:hover a {
    color: #9a0000;
}

#header .navbar .lang {
    padding: 0;
}

#header .navbar .lang li {
    padding: 0 5px;
    display: inline-block;
    list-style: none;
}

#header .navbar .lang li:last-child {
    border-left: 1px solid #2a0603;
}

#header .navbar .lang li a {
    color: #2a0603;
    font-weight: bold;
}

#header .banner-df {
    position: relative;
}

#header .banner-df .fbanner {
    position: absolute;
    height: 23px;
    width: 23px;
}

#header .banner-df .fbanner.f1 {
    top: 0;
    left: 0;
    background: url(../images/f1.png);
}

#header .banner-df .fbanner.f2 {
    bottom: 0;
    left: 0;
    background: url(../images/f2.png);
}

#header .banner-df .fbanner.f3 {
    top: 0;
    right: 0;
    background: url(../images/f3.png);
}

#header .banner-df .fbanner.f4 {
    bottom: 0;
    right: 0;
    background: url(../images/f4.png);
}

#header .banner-df .container {
    position: relative;
}

#header .banner-df .page-title {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 70px;
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
}

#header .banner-df .page-title h1 {
    padding-left: 25px;
    color: #1a1d1f;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 767px) {
    #header .banner-df .page-title {
        width: 260px;
        height: 50px;
    }

    #header .banner-df .page-title h1 {
        font-size: 20px;
    }
}

.thumbnail {
    background: none;
    border: none;
    padding-bottom: 40px;
}

.owl-controls .owl-pagination {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.owl-controls .owl-pagination .owl-page {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background: rgba(18, 36, 48, 0.5);
    margin-left: 10px;
}

.owl-controls .owl-pagination .owl-page.active {
    background: rgba(255, 255, 255, 0.5);
}

body {
    background-image: url("../images/bg.png");
    background-color: #f0e0a6 !important;
    position: relative;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #58595b;
    line-height: 20px;
}

body .banner {
    /*margin-top: -135px;*/
    position: relative;
}

@media (max-width: 767px) {
    #header .banner-df .page-title {
        width: 260px;
        height: 50px;
    }

    #header .banner-df .page-title h1 {
        font-size: 20px;
    }
}

body .banner .box-meta {
    position: absolute;
    padding: 25px;
    top: 85px;
    left: 50px;
    width: 300px;
    min-height: 312px;
    background: #fff;
}

body .banner .box-meta .item-head h1 {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #2a0603;
    margin-top: 0;
    font-weight: 400;
}

body .banner .box-meta .item-desc p {
    color: #414042;
}

body .banner .box-meta .bton {
    margin-top: 20px;
}

body .banner .box-meta .bton a {
    background: #9a0000;
    color: #fff;
    text-transform: uppercase;
}

body .banner .box-meta:before {
    content: '';
    position: absolute;
    top: 38%;
    right: -30px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid white;
    border-bottom: 45px solid transparent;
}

@media (max-width: 400px) {
    body .banner .box-meta {
        left: 10px;
        width: 95%;
    }

    body .banner .box-meta:before {
        content: none;
    }
}

body .desc {
    min-height: 150px;
    background: url("../images/ren_bg.png");
}

body .desc p {
    max-width: 655px;
    margin-top: 45px;
    padding-left: 35px;
    float: right;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    border-left: 2px solid #fff;
}

body .content-area .wrapper {
    padding: 40px 60px;
    background: #fff;
}

body .content-area .wrapper p {
    line-height: 18px;
}

body .content-area .wrapper p.square {
    max-width: 710px;
    margin: 20px auto;
    border: 1px solid #b7b7b7;
    padding: 20px;
    font-style: italic;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-nav {
    width: 320px;
    float: left;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-nav .item-img {
    position: relative;
    margin-bottom: 22px;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-nav .item-img:hover {
    cursor: pointer;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-nav .item-img.t-active:before {
    content: '';
    position: absolute;
    top: 38%;
    right: 25px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid #9a0000;
    border-bottom: 20px solid transparent;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-main {
    width: calc(100% - 320px);
    float: right;
    position: relative;
    margin-bottom: 25px;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-main .item img {
    width: 700px;
    height: auto;
}

body .content-area .wrapper .wrap-content {
    display: block;
    width: 100%;
    clear: both;
}

body .content-area .wrapper .wrap-content .content {
    margin-left: 320px;
}

body .content-area .wrapper .wrap-content h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #58595b;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    body .content-area .wrapper {
        padding: 20px;
    }

    body .content-area .wrapper .thumbnail-slider .thumbnail-nav {
        width: 100%;
        height: 100%;

    }

    body .content-area .wrapper .thumbnail-slider .thumbnail-main {
        width: 100%;
        float: none;
        clear: both;
    }

    body .content-area .wrapper .wrap-content .content {
        margin-left: 0;
    }

    body .banner .box-meta {
        display: none;
        min-height: 0px;
    }

}

#header ul.nav li {
    margin-right: 10px;
}

#header .navbar .nav li a {
    font-size: 15px;
}

body .content-area .wrapper .thumbnail-slider .thumbnail-main .item img {
    height: 440px;
}

.h1-s {
    position: absolute;
    top: 85px;
    color: white;
    text-align: center;
    width: 100%;
}

@media (max-width: 767px) {
    body .content-area .wrapper .thumbnail-slider .thumbnail-main .item img {
        width: auto;
        height: auto;
    }

    .h1-s{
        top: 70px;
    }

    body .content-area .wrapper .thumbnail-slider .thumbnail-nav .item-img.t-active:before{
        right: 0px;
    }

}